
__pycache__/constants.cpython-310.pyc
__pycache__/minerals.cpython-310.pyc
__pycache__/minerals_tmp.cpython-310.pyc
cell.py
debug.txt
kaolinite_init.pkl
qb_qs.png
rock.py
smectite_init.pkl
smectite_init_inf.pkl
smectite_truncated_init.pkl
solver.py
test/_temp.png
test/Goncalves2007_fig6_phid.png
test/Goncalves2007_fig6_qs.png
test/Goncalves_fig6.png
test/Leroy2004_fig4.png
test/Leroy_fig4_for_smec.png
test/Leroy_fig9.png
test/Revil1998_Fig3.png
utils.py
